In [3]:
import pandas as pd 
import numpy
import matplotlib.pyplot as plt

In [7]:
candidates_df = pd.read_csv("C:/data/candidates.csv", sep=";", encoding="ISO-8859-1")

In [8]:
candidates_df.head()

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7

In [9]:
candidates_df.shape

(50000, 10)

In [10]:
candidates_df.dtypes

First Name                   object
Last Name                    object
Email                        object
Application Date             object
Country                      object
YOE                           int64
Seniority                    object
Technology                   object
Code Challenge Score          int64
Technical Interview Score     int64
dtype: object

In [11]:
candidates_df.dtypes.value_counts()

object    7
int64     3
dtype: int64

In [15]:
candidates_df.describe(include="object")

,First Name,Last Name,Email,Application Date,Country,Seniority,Technology
count,50000,50000,50000,50000,50000,50000,50000
unique,3007,474,49833,1646,244,7,24
top,Sarai,Murazik,fern70@gmail.com,2020-07-07,Malawi,Intern,Game Development
freq,33,138,3,50,242,7255,3818

In [12]:
candidates_df.isnull().any()

First Name                   False
Last Name                    False
Email                        False
Application Date             False
Country                      False
YOE                          False
Seniority                    False
Technology                   False
Code Challenge Score         False
Technical Interview Score    False
dtype: bool

In [13]:
candidates_df['Technology'].unique()

array(['Data Engineer', 'Client Success', 'QA Manual',
       'Social Media Community Management', 'Adobe Experience Manager',
       'Sales', 'Mulesoft', 'DevOps', 'Development - CMS Backend',
       'Salesforce', 'System Administration', 'Security',
       'Game Development', 'Development - CMS Frontend',
       'Security Compliance', 'Development - Backend', 'Design',
       'Business Analytics / Project Management',
       'Development - Frontend', 'Development - FullStack',
       'Business Intelligence', 'Database Administration',
       'QA Automation', 'Technical Writing'], dtype=object)

In [14]:
candidates_df['Seniority'].unique()

array(['Intern', 'Mid-Level', 'Trainee', 'Junior', 'Lead', 'Architect',
       'Senior'], dtype=object)